<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mapmyindia.ceinfo.silvassa">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Mmiapplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SyncSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ResultsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.PaymentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.PrefillActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.PrintActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name="com.mapmyindia.ceinfo.silvassa.provider.SilvassaProvider"
            android:authorities="com.mapmyindia.ceinfo.silvassa.provider"
            android:exported="false" />
    </application>

</manifest>